//<МИКСИНЫ>===============================================
@import "mixins.scss";
//</МИКСИНЫ>==============================================

//<Подключение шрифтов>===================================
@import "fonts.scss";
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
//</Подключение шрифтов>==================================

//<ШРИФТ ПО УМОЛЧАНИЮ>====================================
$fontfamily: "Dosis";
//</ШРИФТ ПО УМОЛЧАНИЮ>===================================

//<ПЕРЕМЕННЫЕ>============================================
$minwidth: 320px;
$mw: 400px;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================

//<ОБНУЛЯЮЩИЕ СТИЛИ>======================================
@import "nullstyle.scss";
//</ОБНУЛЯЮЩИЕ СТИЛИ>=====================================

//<ОБОЛОЧКА>==============================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(86deg, rgba(122, 145, 141, 1) 13%, rgba(11, 91, 107, 1) 100%);
}
//</ОБОЛОЧКА>==============================================

//<ОСНОВНАЯ СЕТКА>=========================================
.container {
	max-width: $mw + 20px;
	margin: 0 auto;
	width: 100%;
}
//</ОСНОВНАЯ СЕТКА>========================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==========
/* @import "popup.scss"; */
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========

//<CALCULATOR>=============================================

.calculator {
	width: 300px;
	height: 460px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;

	&__first-value,
	&__second-value {
		text-align: right;
		padding-right: 10px;
		height: 75px;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 50px;
		background: linear-gradient(86deg, rgba(130, 130, 129, 1) 16%, rgba(163, 163, 155, 1) 88%);
		color: #c8d1be;
		border-radius: 15px;
		box-shadow: 0px 5px 10px 7px rgba(0, 0, 0, 0.2);
		transition: linear 2s ease 0;
	}

	&__operators {
		height: 55px;
		margin-bottom: 10px;
		display: flex;
		justify-content: space-between;
	}

	&__sum,
	&__subtraction,
	&__multiplication,
	&__division,
	&__exponentiation {
		flex: 0 1 18%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 40px;
		color: #fff2e6;
		background: linear-gradient(0deg, rgba(127, 107, 115, 1) 5%, rgba(136, 120, 127, 1) 94%);
		border-radius: 15px;
		box-shadow: 0px 5px 10px 7px rgba(0, 0, 0, 0.2);
		position: relative;
		&:hover {
			box-shadow: 0 0 10px 0 #7f6b73 inset, 0 0 20px 2px #7f6b73;
		}
		&:active {
			top: 3px;
			box-shadow: 0 5px 10px 10px #7a918d;
			transition: all 0.2s;
		}
	}

	&__outcome {
		display: flex;
		align-items: center;
		justify-content: end;
		padding-right: 10px;
		height: 75px;
		margin-bottom: 10px;
		color: #828281;
		background: linear-gradient(0deg, rgba(210, 210, 196, 1) 18%, rgba(185, 185, 175, 1) 91%);
		font-size: 50px;
		border-radius: 15px;
		box-shadow: 0px 5px 5px 7px rgba(0, 0, 0, 0.2);
	}

	&__result {
		height: 75px;
		margin-bottom: 10px;
		color: #828281;
		background: linear-gradient(0deg, rgba(210, 210, 196, 1) 18%, rgba(185, 185, 175, 1) 91%);
		font-size: 50px;
		border-radius: 15px;
		box-shadow: 0px 5px 5px 7px rgba(0, 0, 0, 0.2);
		position: relative;
		&:hover {
			box-shadow: 0 0 10px 0 #d2d2c4 inset, 0 0 20px 2px #d2d2c4;
		}
		&:active {
			top: 3px;
			box-shadow: 0 5px 10px 10px #7a918d;
			transition: all 0.2s;
		}
	}

	&__reset {
		height: 45px;
		margin-bottom: 10px;
		color: #828281;
		background: linear-gradient(0deg, rgba(210, 210, 196, 1) 18%, rgba(185, 185, 175, 1) 91%);
		font-size: 30px;
		border-radius: 15px;
		box-shadow: 0px 5px 5px 7px rgba(0, 0, 0, 0.2);
		position: relative;
		&:hover {
			box-shadow: 0 0 10px 0 #d2d2c4 inset, 0 0 20px 2px #d2d2c4;
		}
		&:active {
			top: 3px;
			box-shadow: 0 5px 10px 10px #7a918d;
			transition: all 0.2s;
		}
	}
}

//</CALCULATOR>============================================
